.swiper {
  width: 500px;
  height: auto;
}

.swiper-button-next { color: #800000; }
.swiper-button-prev { color: #800000; }
.swiper-pagination-bullet { background-color: #800000; }

.skillsSwiper {
  width: 90%;
}
.skillsSwiperSlide {
  width: 80%;
}